Flask
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
Flask-WTF
Flask-Cors
Flask-Caching
Flask-Limiter
Flask-SocketIO
Flask-Redis
gunicorn
eventlet
pydantic
python-dotenv
prometheus-flask-exporter
numpy
scipy
fastdtw
python-json-logger
pytest
pytest-cov
pytest-flask
pytest-mock
Unidecode
Flask-Login
Werkzeug
email-validator
# Security fix for GHSA-58pv-8j8x-9vj2
jaraco.context>=6.1.0
